<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<aside
		class="col-md-3 d-none d-md-block bg-info align-content-center text-center justify-content-center mt-5 pt-3"
		th:fragment="publicidad">
		<h5>Esta Publicidad Se Oculta En Dispositivos Pequeños</h5>
		<i class="fa fa-github fa-5x"></i>
		<div class="col-xs-12" style="height: 10px;"></div>
		<div class="card card-custom bg-white border-white">
			<div class="card-custom-img"
				style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
			<div class="card-custom-avatar">
				<img class="img-fluid"
					src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg"
					alt="Avatar" />
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Bootsrap</h4>
				<p class="card-text">
					<a href="https://getbootstrap.com/" target="_blank">Bootstrap </a>
					lo hace posible.
				</p>
			</div>
			<div class="card-footer"
				style="background: inherit; border-color: inherit;">
				<a href="#" class="btn btn-primary">Option</a> <a href="#"
					class="btn btn-outline-primary">Diseño responsivo</a>
			</div>
		</div>
		<div class="col-xs-12" style="height: 10px;"></div>
	</aside>
</body>
</html>