<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Formulario Cliente</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/fontawesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div th:replace="layout/navbar :: navbar"></div>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-9 my-5 shadow p-4 bg-white rounded formulario">
				<h1 th:if="${cliente.id == 0}" class="text-center">Nuevo
					Cliente</h1>
				<h1 th:if="${cliente.id != 0}" class="text-center">Update
					Cliente</h1>
				<br>
				<form th:action="@{/cliente/guardar}" th:object="${cliente}"
					method="POST" class="form_content">
					<input type="hidden" th:field="*{id}" />
					<input type="hidden" th:field="*{cuenta.id}" />
					<div class="form-group row">
						<label for="tipoDocumento" class="col-sm-3 col-form-label">Tipo
							Documento</label>
						<div class="col-sm-9">
							<select class="custom-select" id="tipoDocumento"
								th:field="*{tipoDocumento}">
								<option value="" selected>Seleccione...</option>
								<option value="DNI">DNI</option>
								<option value="Pasaporte">Pasaporte</option>
							</select>
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('tipoDocumento')}"
								th:errors="*{tipoDocumento}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="numeroDocumento" class="col-sm-3 col-form-label">Numero
							Documento</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="numeroDocumento"
								placeholder="Numero de documento" th:field="*{nroDocumento}">
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('nroDocumento')}"
								th:errors="*{nroDocumento}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="nombreApellido" class="col-sm-3 col-form-label">Nombre
							y Apellido</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="nombreApellido"
								placeholder="Nombre y Apellido" th:field="*{nombreApellido}">
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('nombreApellido')}"
								th:errors="*{nombreApellido}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-3 col-form-label">Correo</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="email"
								placeholder="ejemplo@mail.com" th:field="*{email}">
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="password" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input th:if="${cliente.id == 0}" type="password"
								class="form-control" id="password" placeholder="Password"
								th:field="*{password}">
							<input th:if="${cliente.id != 0}" type="text"
								class="form-control" id="password" placeholder="Password"
								th:field="*{password}">
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="fechaNacimiento" class="col-sm-3 col-form-label">Fecha
							Nacimiento</label>
						<div class="col-sm-9">
							<div class="input-group date" id="fechaNacimiento">
								<input type="date" class="form-control"
									th:field="*{fechaNacimiento}" />
							</div>
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaNacimiento')}"
								th:errors="*{fechaNacimiento}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="codigoAreaTelefono" class="col-sm-3 col-form-label">Codigo
							Area</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="codigoAreaTelefono"
								placeholder="Codigo Area" th:field="*{codigoAreaTelefono}">
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('codigoAreaTelefono')}"
								th:errors="*{codigoAreaTelefono}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="numeroTelefono" class="col-sm-3 col-form-label">Numero
							Telefono</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="numeroTelefono"
								placeholder="Telefono" th:field="*{nroTelefono}">
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('nroTelefono')}"
								th:errors="*{nroTelefono}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="fechaUltimaCompra" class="col-sm-3 col-form-label">Fecha
							Ultima Compra</label>
						<div class="col-sm-9">
							<div class="input-group date" id="fechaUltimaCompra">
								<input type="date" class="form-control"
									th:field="*{fechaUltimaCompra}" />
							</div>
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaUltimaCompra')}"
								th:errors="*{fechaUltimaCompra}"></div>
						</div>
					</div>
					<h1 class="text-center">DATOS DE LA CUENTA</h1>
					<br>
					<div class="form-group row">
						<label for="saldo" class="col-sm-3 col-form-label">Saldo
							de la Cuenta</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="id"
								placeholder="Saldo" th:field="*{cuenta.saldo}" min="0"
								step='0.01' value='0.00'>
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('cuenta.saldo')}"
								th:errors="*{cuenta.saldo}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="fechaCreacion" class="col-sm-3 col-form-label">Fecha
							Creacion Cuenta</label>
						<div class="col-sm-9">
							<div class="input-group date" id="fechaCreacion">
								<input type="date" class="form-control"
									th:field="*{cuenta.fechaCreacion}" />
							</div>
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('cuenta.fechaCreacion')}"
								th:errors="*{cuenta.fechaCreacion}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="estado" class="col-sm-3 col-form-label">Estado</label>
						<div class="col-sm-9">
							<select class="custom-select" id="estado"
								th:field="*{cuenta.estado}">
								<option value="" selected>Seleccione...</option>
								<option value="ACTIVA">ACTIVA</option>
								<option value="INACTIVA">INACTIVA</option>
							</select>
							<div class="form-text text-danger"
								th:if="${#fields.hasErrors('cuenta.estado')}"
								th:errors="*{cuenta.estado}"></div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary form_button">Guardar</button>
							<a th:href="@{/cliente/lista}" class="btn btn-secondary"
								id="delRef">Cancelar </a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="layout/footer :: footer"></div>
	<script type="text/javascript">
	(function() {
    $('.footer').css('position', $(document).height() > $(window).height() ? "inherit" : "fixed");
})();</script>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>